body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.oran{
    color: orange;
}
.flax-jibal{
    display: flex;
}
.half-width{
    padding-left: 5%;
    width: 50%;

}
.half-width img{
    width: 80%; 
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 10px;
    background-color: linear-gradient(orange tomato);
    background-color: orange;
}
.top-banar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.hit{
    margin-top: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 50%;
    padding-left: 5%;
    box-shadow: 10px 10px 40px gray;
    margin: 4%;
    
}
.one{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
#merge{
    border-left: 7px solid blue;
}
#boder{
    border-left: 7px solid tomato;
}
footer{
    text-align: center;
}